{{#if canShow}}
  <div class="tag-title-header">
    <div class="tag-title-contents">
      {{#each tags as |tag|}}
        <div class="tag">
          <h1 class="tag-name">
            <span>{{tag.name}}</span>
          </h1>
          {{#if (theme-setting "show_tag_description")}}
            <p class="tag-description">{{tag.description}}</p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
